body {
    display: grid;
    grid-template-areas:
    'hd hd hd hd hd'
    'sc sc sc as as'
    'sc sc sc as as'
    'sc sc sc as as'
    'ft ft ft ft ft';

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 90%;
    height: 800px;
    margin: 5vh auto;
}

header {
    grid-area: hd;
    background-color: red;
}

section {
    grid-area: sc;
    background-color: blue;
    padding: 5px;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.333%;

}

article {
    background-color: aqua;
}

aside {
    grid-area: as;
    background-color: green;
}

footer {
    grid-area: ft;
    background-color: gray;
}