
.displayBlock {
    height: 200px;
    display: block;
}

.displayInline{
    height: 200px;
    display: inline;
}

.displayInlineBlock{
    height: 200px;
    display: inline-block;
}

.displayNone{
    height: 200px;
    display: none;
}
/************************ DEFAULTS EXEMPLO ********************************/
.titulo {
    margin: 5px auto;
    width: fit-content;
    font-weight: bold;
}

.areaDisplay{
    background-color: lightskyblue;
    padding: 5px;
    width: 800px;
    height: 800px;
    margin-bottom: 30px;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.amarelo {
    background-color: yellow;
}

.roxo {
    background-color: purple;
}

.cinza {
    background-color: gray;
}

.mini {
    height: 50px;
}

.container {
    padding: 5px;
}

.w200 {
    width: 200px;
}

/************************************************************/
