.vermelho{
    background-color: red;
}

.bordinha{
    width: 500px;
    border: solid blue 3px;
    display: flex;
    flex-wrap: wrap;
}

.blue {
    background-color: aqua;
}

.verde {
    background-color: lightgreen;
}